/*************************************************************************************************
BODY:
*************************************************************************************************/
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans';
}

* {
  margin: 0;
  padding: 0;
}

/*************************************************************************************************
HEADER:
*************************************************************************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6237A0;
  padding: 10px;
}

.logo-container {
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border: 2px solid #28104E;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
}

.logo img {
  width: 100%;
  height: auto;
}

.topnav {
  background-color: #6237A0;
}

.topnav a {
  float: left;
  display: flex;
  align-items: center;
  color: #ecf0f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a i {
  margin-right: 8px;
  color: #ecf0f1;
}

.topnav a:hover {
  background-color: #9754CB;
  color: white;
}

/*************************************************************************************************
HERO:
*************************************************************************************************/
.hero-container {
  position: relative;
  width: 100%;
  height: 1080px;
  background-color: #28104E;
  z-index: -2;
}

.hero-svg {
  background: url('pattern.svg');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-content {
  position: absolute;
  left: 10%;
  height: 100%;
  width: 80%;
}

.hero-text {
  position: absolute;
  top: 40%;
  color: white;
}

.learn-more-button {
  position: absolute;
  top: 60%;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.divider {
border-style: solid;
border-width: 90px 100vw 0;
border-color: #28104E #6237A0;
width: 100%;
}

/*************************************************************************************************
ABOUT ME:
*************************************************************************************************/
.about-me-section {
  background-color: #6237A0;
  padding: 20px;
  height: 75vh;
}

.about-me-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto; /* Center the content horizontally */
}

.selfie {
  flex: 1;
  text-align: center;
  display: flex; /* Add display flex */
  left: 5%;
  align-items: center; /* Center vertically */
  margin-top: 100px;
}

.about-me-header {
  margin: 0;
  background-color: #6237A0;
  color: white;
  position: relative;
  font-size: 4vw;
  top: 5%;
  left: 3%;
}

.about-me-text {
  flex: 1; /* Text takes 50% of the width */
  text-align: left;
  padding: 20px; /* Add spacing around the text */
  color: white;
}

.skills-heading {
  color: white;
  padding-top: 5%;
}

.horizontal-list {
  color: white;
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove padding from the list */
  margin: 0; /* Remove margin from the list */
}

.custom-item {
  display: inline-block; /* Display list items horizontally */
  margin-right: 10px; /* Add spacing between list items*/
  border: 1px solid #28104E;
  background-color: #9754CB;
  padding: 5px;
  margin-bottom: 5px;
  border-width: 3xp;
  border-radius: 4%;
  width: 90px;
  text-align: center;
  color: white;
  font-weight: normal;
  text-decoration: none;
}